<p id="notice"><%= notice %></p>

<h1>Listing Gvg Cores</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Recruiting</th>
      <th>Recruiting description</th>
      <th>Avatar</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gvg_cores.each do |gvg_core| %>
      <tr>
        <td><%= gvg_core.name %></td>
        <td><%= gvg_core.description %></td>
        <td><%= gvg_core.recruiting %></td>
        <td><%= gvg_core.recruiting_description %></td>
        <td><%= gvg_core.avatar %></td>
        <td><%= gvg_core.user_id %></td>
        <td><%= link_to 'Show', gvg_core %></td>
        <td><%= link_to 'Edit', edit_gvg_core_path(gvg_core) %></td>
        <td><%= link_to 'Destroy', gvg_core, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gvg core', new_gvg_core_path %>
