<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3 style="margin-left: 20px; margin-top:15px;">Times de GvG: <%= @gvg_core.name %></h3>
      </div>

      <div class="title_right">
        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
        </div>
      </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">

      <div class="col-md-12 col-sm-12 col-xs-12">

        <div class="x_panel">
          <div class="col-md-6 col-sm-6 col-xs-6">
            <%= image_tag @gvg_core.avatar.url, style: "width:100%"%>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-6">
            <h5> <strong> Lider: </strong> <%= @gvg_core.user.nick %>
            <h5> <strong> Descrição: </strong> <%= @gvg_core.description %> </h5>
            <h5> <strong>
              <% if @gvg_core.recruiting %>
                Recrutamento Aberto
              <% else %>
                Recrutamento Fechado
              <% end %>
            </strong> </h5>
            <h5> <strong> Descrição do Recrutamento: </strong> <%= @gvg_core.recruiting_description %> </h5>
            <br>
            <br>
            <% if @gvg_core.user == current_user %>
            <%= link_to 'Deletar Time',  @gvg_core,  method: :delete, data: { confirm: 'Tem certeza?' }, class: "btn btn-danger" %>
            <%= link_to 'Editar Time',  edit_gvg_core_path(@gvg_core), class: "btn btn-default" %>
            <% elsif current_user.gvg_core == @gvg_core %>
              <%= link_to 'Sair do Time',  reject_core_gvg_cores_path, class: "btn btn-danger" %>
            <% end %>
          </div>
          <br>
          <table class="table table-hover" id="members_table">
            <thead>
              <tr> 
                <th> Nick </th>
                <th> Cargo </th>
                <th> Chars Alternativos </th>
                <th> Arma </th>
                <th> Último Login </th>
              </tr>
            </thead>
            <tbody>
              <% @gvg_core.users.where(core_status: 1).each do |user|%>
              <tr>
                <td> <%= user.nick %> 
                  <% if current_user == @gvg_core.user && user != current_user %> 
                    <%= link_to reject_core_gvg_cores_path(user: user) do %>
                      <i class="fa fa-close" style="color: red;"> </i>
                    <%end %>
                  <%end%> 
                </td>
                <td> <%= user.guild_role.name %> </td>
                <td> <%= user.alt1 %>, <%= user.alt2 %> </td>
                <td> <%= user.item_id %> </td>
                <td> <% if user.last_sign_in_at %> <%= user.last_sign_in_at.to_formatted_s(:short) %> <%end%> </td>
                <tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>