<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @gvg_core.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @gvg_core.description %>
</p>

<p>
  <strong>Recruiting:</strong>
  <%= @gvg_core.recruiting %>
</p>

<p>
  <strong>Recruiting description:</strong>
  <%= @gvg_core.recruiting_description %>
</p>

<p>
  <strong>Avatar:</strong>
  <%= @gvg_core.avatar %>
</p>

<p>
  <strong>User:</strong>
  <%= @gvg_core.user_id %>
</p>

<%= link_to 'Edit', edit_gvg_core_path(@gvg_core) %> |
<%= link_to 'Back', gvg_cores_path %>
