<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3 style="margin-left: 20px; margin-top:15px; margin-bottom: 15px;">Criar  GvG</h3>
      </div>
    </div>
    <div class="clearfix"></div>

    <div class="row">

      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
      <%= simple_form_for @midia_topic, :url => {controller: "midia_topics", action:"create_gvg"} do |f| %>
        <%= f.error_notification %>

    <div class="form-group row">
      <label class="control-label col-md-3 col-sm-3 col-xs-12 control-label-form">Inimigo</label>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <%= f.input :enemy, input_html: { class: 'form-control' }, placeholder: "Nome", label: false %>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-12"> </div>
    </div>

    <div class="form-group row">
      <label class="control-label col-md-3 col-sm-3 col-xs-12 control-label-form">Pontuação</label>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <%= f.input :result_hng, input_html: { class: 'form-control' }, placeholder: "HnG", label: false %>
        <%= f.input :result_other, input_html: { class: 'form-control' }, placeholder: "Inimigo", label: false %>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-12"> </div>
    </div>

    <div class="form-group row">
      <label class="control-label col-md-3 col-sm-3 col-xs-12 control-label-form">Jogadores</label>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <%= f.input :players, input_html: { class: 'form-control' }, placeholder: "Jogadores", label: false %>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-12"> </div>
    </div>

        <div class="form-group row">
      <label class="control-label col-md-3 col-sm-3 col-xs-12 control-label-form">Inimigos</label>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <%= f.input :enemies, input_html: { class: 'form-control' }, placeholder: "Inimigos", label: false %>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-12"> </div>
    </div>

            <div class="form-group row">
      <label class="control-label col-md-3 col-sm-3 col-xs-12 control-label-form">Mapa</label>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <%= f.input :map, input_html: { class: 'form-control' }, placeholder: "Mapa", label: false %>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-12"> </div>
    </div>

    <div class="form-group row">
      <label class="control-label col-md-3 col-sm-3 col-xs-12 control-label-form">Tipo de Mapa</label>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <%= f.input :gvg_type, collection: [ "Construção", "Recursos", "Cidade", "Fazenda"], prompt: "Escolha o Tipo de Mapa", input_html: { class: 'form-control' }, placeholder: "Escolha o Tipo de Mapa", label: false %>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-12"> </div>
    </div>  

    <div class="form-group row">
      <label class="control-label col-md-3 col-sm-3 col-xs-12 control-label-form">Link Killboard</label>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <%= f.input :killboard, input_html: { class: 'form-control' }, placeholder: "Killboard", label: false %>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-12"> </div>
    </div>

    <div class="form-group row">
      <label class="control-label col-md-3 col-sm-3 col-xs-12 control-label-form">Video</label>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <%= f.input :video, input_html: { class: 'form-control' }, placeholder: "Video", label: false %>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-12"> </div>
    </div>

    <div class="form-group row">
      <label class="control-label col-md-3 col-sm-3 col-xs-12 control-label-form">Time de GvG</label>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <%= f.association :gvg_core, collection: GvgCore.all.order(:name), prompt: "Escolha um Core", label_method: :name, input_html: { class: 'form-control' }, placeholder: "Time de GvG", label: false %>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-12"> </div>
    </div>

    <div class="ln_solid"></div>

    <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
       <%= f.submit "Enviar", class: "btn btn-primary" %>
    </div>
<% end %>


        </div>
      </div>
    </div>
  </div>
</div>