<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : "Honor n Glory" %> </title>
  <%= favicon_link_tag 'hng.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body class="nav-md ">
<div class="container body">
  <% flash.each do |key, value| %>
      <div align="center" id="flash" class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
<% if current_user %>
<% if current_user.status == "1" %>
<%= render "partials/sidenav" %>
<% end %>
<% end %>
<% if current_user.status != "4" %>
<%= render "partials/topnav" %>
<% end %>
<%= yield %>
  <%= render "partials/footer" %>
  <%= javascript_include_tag 'footermanifest', 'data-turbolinks-track' => true %>
</body>
<% current_user.last_sign_in_at = Time.now if current_user %>
<% current_user.save %>
</html>
