<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3 style="margin-left: 20px; margin-top:15px;">Membros</h3>
      </div>

      <div class="title_right">
        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Procurar por...">
                    <span class="input-group-btn">
                              <button class="btn btn-default" type="button">Go!</button>
                          </span>
          </div>
        </div>
      </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">

      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
    <table class="table table-hover" id="members_table">
	<thead>
		<tr> 
			<th> Nick </th>
			<th> Cargo </th>
			<th> Chars Alternativos </th>
			<th> Arma </th>
			<th> Último Login </th>
		</tr>
	</thead>
	<tbody>
	<% @members.each do |member| %>
		<tr>
			<td> <%= member.nick %> </td>
			<td> <%= member.guild_role.name %>
				<% if user_signed_in? %>
					<% if current_user.guild_role.permition > member.guild_role.permition + 1 %>
						<%= link_to  promote_member_members_path(user: member.id) do %>
							<i class="glyphicon glyphicon-menu-up" style="color: green"> </i>
						<% end %>
					<% end %>
					<% if current_user.guild_role.permition > member.guild_role.permition and member.guild_role_id > 1 %>
						<%= link_to demote_member_members_path(user: member.id) do %>
						<i class="glyphicon glyphicon-menu-down" style="color: red"> </i>
						<% end %>
					<% end %>
				<% end %>
				 </td>
			<td> <%= member.alt1 %>, <%= member.alt2 %> </td>
			<td> <%= member.item_id %> </td>
			<td> <%= member.last_sign_in_at.to_formatted_s(:short) %> </td>

		</tr>
	<% end %>
	</tbody>
</table>
        </div>
      </div>
    </div>
  </div>
</div>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.13/css/dataTables.bootstrap.css"/>

 
<script type="text/javascript" src="https://cdn.datatables.net/v/bs-3.3.7/dt-1.10.13/cr-1.3.2/r-2.1.0/datatables.js"></script>

<script>
$('#members_table').dataTable();
</script>