<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3 style="margin-left: 20px; margin-top:15px;">Membros</h3>
      </div>

      <div class="title_right">
        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
        </div>
      </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">

      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <span> Léndarios: <%= @members.where(account: "Lendária").size %></span> / 
          <span> Épicos: <%= @members.where(account: "Épica").size %></span> / 
          <span> Veteranos: <%= @members.where(account: "Veterana").size %></span>
    <table class="table table-hover" id="members_table">
	<thead>
		<tr> 
			<th> Nick </th>
			<th> Cargo </th>
			<th> Chars Alternativos </th>
			<th> Arma </th>
			<th> Time de GvG </th>
			<th> Último Login </th>
		</tr>
	</thead>
	<tbody>
    
	<% @members.each do |member| %>
  <% if current_user.guild_role.permition > member.guild_role.permition and current_user.guild_role.permition > 6 %>
    <div class="modal fade" id="refuse_member_<%= member.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">Expulsar Membro: <%= member.nick %></h4>
                </div>
                <%= simple_form_for member, url: refuse_request_members_path(member,user_id: member.id) do |f| %>
                <div class="modal-body">
                    <div class="form-group row">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12 control-label-form">Qual motivo da expulsão?</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <%= f.input :reason, input_html: { class: 'form-control', value: '' }, placeholder: "Qual o motivo da expulsão?", label: false %>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12"> </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                  <%= f.submit "Recusar Membro", class: "btn btn-danger"%>
                </div>
                <% end %>
              </div>
          </div>
        </div>
    <% end %>
		<tr>
			<td> <%= member.nick %> <%= link_to show_member_members_path(user: member) do %> <i class="fa fa-eye"></i> <% end %> 
        <% if current_user.guild_role.permition > member.guild_role.permition and current_user.guild_role.permition > 6 %>
        <a href="#"class="fa fa-close" data-toggle="modal" data-target="#refuse_member_<%= member.id %>" style="text-decoration: none;">
              </a> <% end %></td>
			<td id="role_<%= member.id %>"><%= member.guild_role.name %>
				<% if user_signed_in? %>
					<% if current_user.guild_role.permition > member.guild_role.permition + 1 %>
							<i class="glyphicon glyphicon-menu-up" style="color: green; cursor:pointer" onclick="promote(<%=member.id%>)"></i>
					<% end %>
					<% if current_user.guild_role.permition > member.guild_role.permition and member.guild_role_id > 1 %>
						<i class="glyphicon glyphicon-menu-down" style="color: red; cursor:pointer" onclick="demote(<%=member.id%>)"></i>
					<% end %>
				<% end %>
			</td>
			<td> <%= member.alt1 %>, <%= member.alt2 %> </td>
			<td> <%= member.item_id %> </td>
			<td id="gvg_core_<%= member.id %>"> <% if member.gvg_core && member.core_status == 1 %>
					<%= member.gvg_core.name %>
          <% elsif member.gvg_core == current_user.gvg_core && member.core_status == 2%>
          Invite Pendente
				 <% else %>
				 	Sem Time de GvG 
          <% if current_user.gvg_core %>
            <% if current_user.gvg_core.user == current_user && member.core_status != 2 %> 
            <i class="fa fa-group" style="color: green; cursor:pointer" onclick="invite(<%= member.id %>)"> </i> <%end%>
  				 <% end %>
         <% end %>
			</td>
			<td> <% if member.last_sign_in_at %> <%= member.last_sign_in_at.to_formatted_s(:short) %> <% end %></td>

		</tr>
	<% end %>
	</tbody>
</table>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
$('#members_table').dataTable( {
  paginate: false,
  scrollY: 700
} );
</script>
<script>
function demote(user_id){
$.ajax({
  type:"GET",
  url:"<%= demote_member_members_path%>",
  dataType:"json",
  data: {user: user_id},
  success:function(result){
  	var role = "role_"+result.user_id;
  	if (result.guild_role_id == 1){
  	document.getElementById(role).innerHTML = result.guild_role_name + " <i class='glyphicon glyphicon-menu-up' style='color: green; cursor:pointer' onclick='promote("+result.user_id+")'> </i>";
  	}else{
  		document.getElementById(role).innerHTML = result.guild_role_name + " <i class='glyphicon glyphicon-menu-up' style='color: green; cursor:pointer' onclick='promote("+result.user_id+")'> </i> <i class='glyphicon glyphicon-menu-down' style='color: red; cursor:pointer' onclick='demote("+result.user_id+")'> </i>";
  	}
  }
})
};

function promote(user_id){
$.ajax({
  type:"GET",
  url:"<%= promote_member_members_path%>",
  dataType:"json",
  data: {user: user_id},
  success:function(result){
  	var role = "role_"+result.user_id;
  	if (result.guild_role_id == <%= current_user.guild_role.permition - 1%>){
  	document.getElementById(role).innerHTML = result.guild_role_name + " <i class='glyphicon glyphicon-menu-down' style='color: red; cursor:pointer' onclick='demote("+result.user_id+")'> </i>";
  	}else{
  		document.getElementById(role).innerHTML = result.guild_role_name + " <i class='glyphicon glyphicon-menu-up' style='color: green; cursor:pointer' onclick='promote("+result.user_id+")'> </i> <i class='glyphicon glyphicon-menu-down' style='color: red; cursor:pointer' onclick='demote("+result.user_id+")'> </i>";
  	}
  }
})
};

function invite(user_id){
$.ajax({
  type:"POST",
  url:"<%= invite_core_gvg_cores_path %>",
  dataType:"json",
  data: {user: user_id},
  success:function(result){
    var core_id = "gvg_core_"+user_id;
    document.getElementById(core_id).innerHTML = "Invite Pendente";
  }
})
};
</script>