<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3 style="margin-left: 20px; margin-top:15px; margin-bottom: 15px;">Recrutamento</h3>
      </div>
    </div>
    <div class="clearfix"></div>

    <div class="row">

      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), class: "form-horizontal form-label-left AVAST_PAM_signupform") do |f| %>
  <%= devise_error_messages! %>

    <div class="form-group row">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12 control-label-form">Nick</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                              <%= f.input :nick, input_html: { class: 'form-control' }, placeholder: "Nick", label: false %>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-12"> </div>
    </div>
    <div class="form-group row">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12 control-label-form">Char Alternativo 1</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                              <%= f.input :alt1, input_html: { class: 'form-control' }, placeholder: "Char Alternativo 1", label: false %>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-12"> </div>
    </div>

    <div class="form-group row">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12 control-label-form">Char Alternativo 2</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                              <%= f.input :alt2, input_html: { class: 'form-control' }, placeholder: "Char Alternativo 2", label: false %>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-12"> </div>
    </div>

    <div class="form-group row">
      <label class="control-label col-md-3 col-sm-3 col-xs-12 control-label-form">E-mail</label>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <%= f.input :email, input_html: { class: 'form-control' }, placeholder: "E-mail", label: false %>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-12"> </div>
    </div>

    <div class="form-group row">
              <% if @validatable %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %>
      <label class="control-label col-md-3 col-sm-3 col-xs-12 control-label-form">Senha<br> <i> Mínimo de 8 Digítos </i></label>
      <div class="col-md-6 col-sm-6 col-xs-12">

        <%= f.password_field :password, class: 'form-control', placeholder: "Senha", label: false, autocomplete: "off" %>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-12"> </div>
    </div>

    <div class="form-group row">
      <label class="control-label col-md-3 col-sm-3 col-xs-12 control-label-form">Confirmar Senha</label>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <%= f.password_field :password_confirmation, class: 'form-control', placeholder: "Confirmar Senha", label: false %>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-12"> </div>
    </div>


    <div class="form-group row">
      <label class="control-label col-md-3 col-sm-3 col-xs-12 control-label-form">Interesses / Como pode ajudar a guild</label>

      <div class="col-md-6 col-sm-6 col-xs-12" id="gvg_div">
        <%= f.input :gvg, input_html: { class: 'flat', style:"opacity:0%, position:absolute" }, label: "GvG" %>
        <%= f.input :raids, input_html: { class: 'flat', style:"opacity:0%, position:absolute" }, label: "Raids" %>
        <%= f.input :pk, input_html: { class: 'flat', style:"opacity:0%, position:absolute" }, label: "PK" %>
        <%= f.input :zvz, input_html: { class: 'flat', style:"opacity:0%, position:absolute" }, label: "ZvZ" %>
        <%= f.input :gathering, input_html: { class: 'flat', style:"opacity:0%, position:absolute" }, label: "Gathering" %>
        <%= f.input :dungeons, input_html: { class: 'flat', style:"opacity:0%, position:absolute" }, label: "Dungeons" %>
        <%= f.input :crafting, input_html: { class: 'flat', style:"opacity:0%, position:absolute" }, label: "Crafting" %>
        <%= f.input :farming, input_html: { class: 'flat', style:"opacity:0%, position:absolute" }, label: "Farming" %>
        <%= f.input :construct, input_html: { class: 'flat', style:"opacity:0%, position:absolute" }, label: "Construir Territorios" %>
        <%= f.input :territory_feed, input_html: { class: 'flat', style:"opacity:0%, position:absolute" }, label: "Alimentação de Territorios" %>
        <%= f.input :castle, input_html: { class: 'flat', style:"opacity:0%, position:absolute" }, label: "Guerra de Castelos" %>
        <%= f.input :warcamp, input_html: { class: 'flat', style:"opacity:0%, position:absolute" }, label: "Barracas" %>
      </div>


      <div class="col-md-3 col-sm-3 col-xs-12"> </div>
    </div>
    
    <div class="form-group row">
      <label class="control-label col-md-3 col-sm-3 col-xs-12 control-label-form">Conta</label>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <%= f.input :account, collection: [ "Lendária", "Épica", "Veterana"], prompt: "Escolha o tipo de conta", input_html: { class: 'form-control' }, placeholder: "E-mail", label: false %>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-12"> </div>
    </div>  
        <div class="form-group row">
      <label class="control-label col-md-3 col-sm-3 col-xs-12 control-label-form">Hora de Atividade</label>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <%= f.input :activity_hour, input_html: { class: 'form-control' }, placeholder: "Hora de Atividade", label: false %>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-12"> </div>
    </div>
    <div class="form-group row">
      <label class="control-label col-md-3 col-sm-3 col-xs-12 control-label-form">Porque deseja entrar na guild?</label>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <%= f.input :reason, input_html: { class: 'form-control' }, placeholder: "Porque deseja entrar na guild?", label: false %>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-12"> </div>
    </div>

    <div class="form-group row">
      <label class="control-label col-md-3 col-sm-3 col-xs-12 control-label-form">Última guild</label>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <%= f.input :last_guild, input_html: { class: 'form-control' }, placeholder: "Última guild e motivo de saida", label: false %>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-12"> </div>
    </div>


    <div class="form-group row">
      <label class="control-label col-md-3 col-sm-3 col-xs-12 control-label-form">Hora de Atividade</label>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <%= f.input :activity_hour, input_html: { class: 'form-control' }, placeholder: "Hora de Atividade", label: false %>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-12"> </div>
    </div>
    <div class="ln_solid"></div>

    <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
<p> <b> Ao entrar na guilda você está de acordo com todas as <a target="_blank" href="https://goo.gl/ehbHWw" style="text-decoration: underline"> Regras</a>, lembrando que as mesmas podem ser alteradas em qualquer momento. </b> </p>
       <%= f.submit "Enviar", class: "btn btn-primary" %>
    </div>
<% end %>
        </div>
      </div>
    </div>
  </div>
</div>


