

<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Solicitações</h3>
      </div>
    </div>
    <div class="row">

      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel" style="height:600px;">
          <div class="x_title">
			 <h5> <strong> Permissão de Acesso (<%= @access.size%>) </strong> </h5> 
			 <div class="row">
				<% @access.order(:nick).each do |member| %>
				  <div class="col-sm-6 col-md-3">
				    <div class="thumbnail" style="height: 350px">
				      <%= image_tag member.avatar.url, :class => "img-circle profile_img", style: "height: 65px; width: 65px;"  %>
				      <div class="caption">
				        <h3><%= member.nick %></h3>
				        <p> Tipo de Conta: <%= member.account %> </p>
				        <p> Recrutador: <%= member.recruiter %> </p>
				        <p> Interesses: <%= interess_list(member) %> </p>
				        <p> Alternativos: <%= member.alt1 %>,<%= member.alt2%> </p>
				        <p><%= link_to 'Aceitar', accept_request_members_path(user: member.id), class: "btn btn-primary" %> <%= link_to 'Recusar', refuse_request_members_path(user: member.id), class: "btn btn-default" %> 
				        </p>
				      </div>
				    </div>
				  </div>
				<% end %>
			</div>
			 <h5> <strong> Recrutamento (<%= @recruitment.size%>) </strong> </h5> 
			 <div class="row">
			<% @recruitment.each do |member| %>
				<div class="col-sm-6 col-md-3">
				    <div class="thumbnail" style="height: 370px">
				      <%= image_tag member.avatar.url, :class => "img-circle profile_img", style: "height: 65px; width: 65px;"  %>
				      <div class="caption">
				        <h3><%= member.nick %></h3>
				        <p> Razão que deseja entrar na guild: <%= member.reason %> </p>
				        <p> Guild Anterior: <%= member.last_guild %> </p>
				        <p> Tipo de Conta: <%= member.account%> </p>
				        <p> Recrutador: <%= member.recruiter %> </p>
				        <p> Interesses: <%= interess_list(member) %> </p>
				        <p> Alternativos: <%= member.alt1 %>,<%= member.alt2%> </p>
				        <p><%= link_to 'Aceitar', accept_request_members_path(user: member.id), class: "btn btn-primary" %> <%= link_to 'Recusar', refuse_request_members_path(user: member.id), class: "btn btn-default" %> 
				        </p>
				      </div>
				    </div>
				  </div>
			<% end %>
			</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
